.card-style {
    width: 22%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 40px 0 20px 0;
  }

.image-style {
    width: 100%;
    height: auto;
    align-self: center;
    margin: auto;
  }

.card-layout {
    display: flex;
    align-items: flex-end;
 }

.text-items {
    flex: 10 0 65%;
  }

  .logo-items {
    flex: 0 0 35%;
    align-items: center;
    justify-content: end;
    display: flex;
  }

.logo-style {
    width: 20px;
    height: auto;
    padding-bottom: 1rem;
    margin: 0 5px 0 5px;
 }
 
