.filter {
    appearance: none;
    /* safari */
    -webkit-appearance: none;
    /* other styles for aesthetics */
    border-color: transparent;
    border-bottom: 3px solid darkgrey;
    height: 35px;
    width: 100%;
    outline: 0;
    margin: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: medium;
  }

  .filter:hover {
    border-color: transparent;
    border-bottom: 3px solid #ccbe9f;
  }